<!-- bắt đầu slide -->
<div class="p-5 mb-4 bg-light rounded-3 slider mt-3 align-items-md-stretch ">
  <div class="container-fluid py-5 ">
    <h1 class="display-5 fw-bold">SARAH STUDY</h1>
    <p class="col-md-8 fs-4">Chào mừng bạn đến với Sarah Study.</p>
  </div>
</div>
<!-- kết thúc slide -->
<!-- bắt đầu content -->
<div class="row align-items-md-stretch text-center">
  <div class="section-title">
    <h2>Chúng tôi có gì</h2>
    <p>Trang web giúp bạn củng cố kiến thức</p>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 text-white  bg-info rounded-3">
      <i class="bi bi-robot" style="font-size: 5rem;"></i>
      <h2>Phương pháp học mới</h2>
      <p>Với phương châm tăng cường tương tác, giáo dục ngược, các khoá học của chúng tôi luôn được đầu tư để có thể
        đưa các nội dung khô cứng thành hấp dẫn với mọi học viên.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 bg-light border rounded-3">
      <i class="bi bi-person-check-fill" style="font-size: 5rem;"></i>
      <h2>Giảng viên kinh nghiệm</h2>
      <p>Đứng lớp đào tạo là các giảng viên có từ 5 tới 15 năm kinh nghiệm trong lĩnh vực đào tạo. Điều này đảm bảo
        được chất lượng truyền tải đến từng học viên</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="h-100 p-5 text-white bg-info rounded-3">
      <i class="bi bi-pc-display-horizontal" style="font-size: 5rem;"></i>
      <h2>Công nghệ, công cụ mới nhất</h2>
      <p>Chúng tôi kết nối với các doanh nghiệp hàng đầu trong lĩnh vực công nghệ thông tin để đưa các công nghệ mới
        nhất mà thị trường đang có nhu cầu vào khoá học của mình. Từ đó đảm bảo được các học viên dễ dàng hoà nhập
        công việc ngay sau khoá đào tạo.</p>
    </div>
  </div>
</div>
<!-- kết thúc content -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills">
  <div class="container">

    <div class="row skills-content">

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">HTML <i class="val">100%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">CSS <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">JavaScript <i class="val">75%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">

        <div class="progress">
          <span class="skill">PHP <i class="val">80%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">WordPress/CMS <i class="val">90%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

        <div class="progress">
          <span class="skill">Photoshop <i class="val">55%</i></span>
          <div class="progress-bar-wrap">
            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section><!-- End Skills Section -->
<!-- bắt đầu section khoá học -->
<section class="section-bg">
  <div class="row text-center  justify-content-center">

    <div class="col-12">

      <h2>Khóa Học Nổi Bật </h2>
      <h4>Khóa Học Lập Trình Web Với Chuyên Gia Từ A - Z Cho Người Mới Bắt Đầu - Nhận Bằng Online</h4>

    </div>

    <div class="col-12 col-md-4 col-lg-3 mt-5">

      <div class="card-sl">

        <div class="card-image">

          <img src="/Assets/img/1.png" class="img-fluid rounded-top" alt="">

        </div>

        <a class="card-action" href="#"><i class="bi bi-suit-heart-fill"></i></a>

        <div class="card-heading">


          <p> Android Advance</p>

        </div>

        <a href="#!khoa-hoc" class="card-button" ng-if="ttUser">Xem thêm khoá học khác</a>
        <a href="" class="card-button" ng-if="!ttUser">Vui lòng đăng nhập</a>


      </div>

    </div>

    <div class="col-12 col-md-4 col-lg-3 mt-5">

      <div class="card-sl">

        <div class="card-image">

          <img src="/Assets/img/20.png" class="img-fluid rounded-top" alt="">

        </div>

        <a class="card-action" href="#"><i class="bi bi-suit-heart-fill"></i></a>

        <div class="card-heading">


          <p> Xây dựng trang web</p>

        </div>

        <a href="#!khoa-hoc" class="card-button" ng-if="ttUser">Xem thêm khoá học khác</a>
        <a href="" class="card-button" ng-if="!ttUser">Vui lòng đăng nhập</a>
      </div>

    </div>

    <div class="col-12 col-md-4 col-lg-3 mt-5">

      <div class="card-sl">

        <div class="card-image">

          <img src="/Assets/img/11.png" class="img-fluid rounded-top" alt="">

        </div>

        <a class="card-action" href="#"><i class="bi bi-suit-heart-fill"></i></a>

        <div class="card-heading">


          <p> Internet Marketing</p>

        </div>

        <a href="#!khoa-hoc" class="card-button" ng-if="ttUser">Xem thêm khoá học khác</a>
        <a href="" class="card-button" ng-if="!ttUser">Vui lòng đăng nhập</a>


      </div>

    </div>
  </div>


</section>
<!-- kết thúc section khoá học -->


<!-- Bắt đầu section Học Viên -->
<section class="Container-HocVien mt-3">
  <div class="col-12 text-center">
    <h2 class="mb-5">Học Viên Nói Gì</h2>
  </div>
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner text-center">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="col-12">
          <img class="bd-placeholder-img rounded-circle" src="../Assets/img/avatar1.jpg" width="140" height="140"
            alt="">
          <h2>Lê Quang Nhựt</h2>
          <p>Thật khó để có thể tự làm một hoặc nhiều website khi bạn là người mới. <br> Nhất là khi bạn đang bắt
            đầu từ con số 0,
            bao giờ cũng sẽ khó khăn hơn những người có thâm niên trong ngành. <br>
            Vừa không có quá nhiều kinh phí, vừa không biết lựa chọn khóa học.....</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="col-12">
          <img class="bd-placeholder-img rounded-circle" src="../Assets/img/avatar 2.jpg" width="140" height="140"
            alt="">
          <h2>Nguyễn Hoàng Đan Thụy</h2>
          <p>Thật khó để có thể tự làm một hoặc nhiều website khi bạn là người mới. <br> Nhất là khi bạn đang bắt
            đầu từ con số 0,
            bao giờ cũng sẽ khó khăn hơn những người có thâm niên trong ngành. <br>
            Vừa không có quá nhiều kinh phí, vừa không biết lựa chọn khóa học.....</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="col-12">
          <img class="bd-placeholder-img rounded-circle" src="../Assets/img/avatar 3.jpg" width="140" height="140"
            alt="">
          <h2>Lý Dương Yến Như</h2>
          <p>Thật khó để có thể tự làm một hoặc nhiều website khi bạn là người mới. <br> Nhất là khi bạn đang bắt
            đầu từ con số 0,
            bao giờ cũng sẽ khó khăn hơn những người có thâm niên trong ngành. <br>
            Vừa không có quá nhiều kinh phí, vừa không biết lựa chọn khóa học.....</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- kết thúc section học viên -->

<!--Section liên hệ-->
<section class="mb-4 section-bg " id="contact">
  <div class="container rounded-3 ">
    <div class="section-title">
      <h2 class="h1-responsive font-weight-bold text-center my-4">Liên Hệ Với Chúng Tôi</h2>
      <!--Section description-->
      <p class="text-center w-responsive mx-auto mb-5">Bạn có câu hỏi về chúng tôi? Hãy liên hệ trực với chúng tôi để
        đươc giải đáp mọi thắc mắc.</p>

    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-md-3 text-center ">
        <i class="bi bi-signpost-split-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
        <p> Trụ sở chính</p>
        <p> Sarah Study, Cần Thơ, Việt Nam</p>
      </div>
      <div class="col-md-3 text-center">
        <i class="bi bi-telephone-inbound-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
        <p> Liên hệ qua số điện thoại</p>
        <p> Hotline: +84 234 567 891</p>
      </div>
      <div class="col-md-3 text-center ">
        <i class="bi bi-mailbox2" style="font-size: 2rem; color: cornflowerblue;"></i>
        <p> Liên hệ qua Email</p>
        <p>contactsarahstudy@edu.com</p>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-10 mb-md-0 mb-5 ">
        <form id="contact-form" name="contact-form" action="mail.php" method="POST">
          <div class="row">

            <div class="col-md-6">
              <label for="name" class="">Tên của bạn ?</label>
              <input type="text" id="name" name="name" class="form-control">
            </div>

            <div class="col-md-6">
              <label for="email" class="">Email của bạn ?</label>
              <input type="text" id="email" name="email" class="form-control">
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="md-form mb-0">
                <label for="subject" class="">Vấn đề bạn cần giúp đỡ: </label>
                <input type="text" id="subject" name="subject" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-12">

              <div class="md-form">
                <label for="message">Chi tiết vấn đề:</label>
                <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
              </div>

            </div>
          </div>

        </form>

        <div class="text-center text-md-left mt-3">
          <a class="btn btn-primary">Send</a>
        </div>
        <div class="status"></div>
      </div>

    </div>
  </div>

</section>